@import url('https://fonts.googleapis.com/css2?family=Anton&family=Birthstone&family=Bungee+Tint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/images/table.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    font-family: "Roboto", sans-serif;
}
h1 {
    color: #daa520;
    font-style: italic;
    font-size: 70px;
    margin-bottom: 120px;
    font-family: "Anton", sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 500px;
    background-color: #015a01;
    border: solid;
    border-radius: 15px;
}

 button {
    color: #016f32;
    width: 150px;
    background-color: #daa520;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 8px;
 }

#message-el {
    font-style: italic;
    font-weight: bold;
    color: white;
}

p {
    color: white;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}


.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dealer, #dealerCards {
    font-style: italic;
    font-weight: bold;
    color: white;
}