
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/images/table.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #daa520;
    font-style: italic;
    font-size: 80px;
    margin-bottom: 120px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 500px;
    background-color: #015a01;
    border: solid;
    border-radius: 15px;


}

 button {
    color: #016f32;
    width: 150px;
    background-color: #daa520;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 8px;
 }

#message-el {
    font-style: italic;
    font-weight: bold;
    color: white;
}

p {
    color: white;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}